* {
    padding: 0;
    margin: 0;
    color: #D8D8D8;
    transition: 0.5s ease;
    font-family: 'Montserat';
    text-decoration: none;
    scroll-behavior: smooth;
}

h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    text-transform: uppercase;
    color: #F2F2F2;
}

li {
    list-style: none;
}

.flex {
    display: flex;
}

.container {
    width: 1320px;
    margin: 0 auto;
}

header {
    background-image: url(../img/header-bg.jpg);
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.banner-bg {
    background-image: url(../img/body-bg.png);
    object-fit: cover;
    height: 100vh;
    background-size: cover;
    z-index: -3;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

section {
    margin-top: 87px;

}

.section-title {
    margin-bottom: 29px;
    font-weight: 700;
    font-size: 49px;
}

.header-wrap {
    background-color: rgba(0, 0, 0, .7);
}

.header-row {
    align-items: center;
    height: 91px;
}

.header-main__nav {
    gap: 34px;
}

.header-main__nav li a {
    color: #BCBCBC;
    font-size: 18px;
    padding-bottom: 7px;
    line-height: 22;
}

.header-main__nav li a:hover,
.active {
    border-bottom: 5px solid #4D8A00;
}

.header-nav {
    margin-left: 62px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.social-nav {
    gap: 24px;
}

.social-nav li i a svg:hover {
    fill: #4D8A00;
}

.header-content {
    width: 754px;
    height: 90vh;
    align-items: center;
}

.about-text {
    font-size: 18px;
    line-height: 38.41px;
}

/* ---------------Our products------------- */
.products-row {
    gap: 42.74px;
}

.products-item {
    position: relative;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.947917) 99.99%, #000000 100%), url(.jpg);
    filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.25));
    z-index: 1;
}

.products-item__content {
    position: absolute;
    
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.item-tag {
    font-weight: 700;
    font-size: 16px;
    position: absolute;
    top: 12px;
    right: 12px;
    color: #E0E0E0;
    border-radius: 20px;
    padding: 7.75px 8px 8.72px 8px;
}

.novelties-tag {
    background-color: #4D8A00;
}

.discount-tag {
    background-color: #E74242;
}

.products-img img {
    border-radius: 20px;
    position: relative;
}

/* ---------------Working porcess---------- */
.working-process {
    height: 470px;
}

.working-process__text {
    line-height: 38.41px;
    font-size: 18px;
}
.working-process__img img {
    border-radius: 20px;
}

.footer-wrap {
    margin-top: 52px;
    justify-content: space-between;
}